.bg-green{
    background-color: #00a99d;
}
.bg-gray{
    background-color: #e6e6e6;
}
.btn-green{
    background-color: #00a99d;
    color: #fefefe;
}
.btn-green:hover{
    background-color: #058f86;
    color: #fefefe;
}
.text-green{
    color: #00a99d;
}
.carousel-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1;
}
.carousel-item .text-carousel{
    position: absolute;
    right: 15%;
    left: 15%;
    top: 15%;
    z-index: 2;
    color: #fefefe;
}
#testimoni{
    background-image: url(images/img1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.dark-transparent{
    background-color: rgba(0, 0, 0,0.5);
    background-size: cover;
}
#hero{
    background-image: url('images/img3.jpg');
    background-size: cover;
    background-position: top;
    padding-top: 150px;
    padding-bottom: 50px;
}